In [52]:
import pandas as pd

df = pd.read_csv('C:\\1 Disk D\\Data Science\\ipl-auction-optimizer\\data.csv')
df

,name,country,age,height,role,bat_style,bowl_style,t20_no,t20_runs,t20_avg,...,t20_bowl_econ,t20_bowl_avg,t20_bowl_sr,ipl_wkts,ipl_bowl_econ,ipl_bowl_avg,ipl_bowl_sr,team,year,price
0,chris morris,south africa,26.0,NaN,bowling-allrounder,right-handed-bat,right-arm-fast-medium,4,133,14.78,...,8.40,20.50,14.65,95,8.01,24.16,18.11,chennai-super-kings,2013,36250000
1,dirk nannes,australia,37.0,6.16828,bowler,right-handed-bat,left-arm-fast,3,22,11.00,...,7.52,16.39,13.07,28,7.30,28.04,23.04,chennai-super-kings,2013,34800000
2,ben laughlin,australia,31.0,NaN,bowler,right-handed-bat,right-arm-fast-medium,0,0,0.00,...,9.97,59.00,35.50,10,10.13,28.20,16.70,chennai-super-kings,2013,1160000
3,akila dananjaya,sri lanka,20.0,NaN,bowler,left-handed-bat,right-arm-offbreak,8,65,8.13,...,8.26,32.17,23.37,0,11.75,0.00,0.00,chennai-super-kings,2013,1160000
4,jason holder,west indies,22.0,NaN,bowling-allrounder,right-handed-bat,right-arm-fast-medium,14,491,16.37,...,8.58,28.88,20.20,53,8.81,27.57,18.77,chennai-super-kings,2013,1160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,kamindu mendis,sri lanka,27.0,NaN,batting-allrounder,left-handed-bat,right-arm-offbreak,1,381,19.05,...,8.22,74.00,54.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,7500000
1179,zeeshan ansari,india,26.0,NaN,bowler,right-handed-bat,right-arm-legbreak,0,0,0.00,...,0.00,0.00,0.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,4000000
1180,sachin baby,india,37.0,NaN,batsman,left-handed-bat,right-arm-offbreak,0,0,0.00,...,0.00,0.00,0.00,2,4.80,4.00,5.00,sunrisers-hyderabad,2025,3000000
1181,aniket verma,india,23.0,NaN,batsman,right-handed-bat,right-arm-medium,0,0,0.00,...,0.00,0.00,0.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000
1182,atharva taide,india,25.0,NaN,batsman,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.00,0.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000

In [53]:
df = df[df['year'] >= 2023]

In [54]:
df

,name,country,age,height,role,bat_style,bowl_style,t20_no,t20_runs,t20_avg,...,t20_bowl_econ,t20_bowl_avg,t20_bowl_sr,ipl_wkts,ipl_bowl_econ,ipl_bowl_avg,ipl_bowl_sr,team,year,price
873,ajinkya rahane,india,35.0,NaN,batsman,right-handed-bat,right-arm-medium,2,375,20.83,...,0.00,0.0,0.0,1,5.00,5.00,6.00,chennai-super-kings,2023,5000000
874,bhagath varma,india,25.0,NaN,bowling-allrounder,right-handed-bat,right-arm-offbreak,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,chennai-super-kings,2023,2000000
875,kyle jamieson,new zealand,29.0,NaN,bowler,right-handed-bat,right-arm-fast-medium,3,49,24.50,...,9.29,41.2,26.6,9,9.61,29.89,18.67,chennai-super-kings,2023,10000000
876,ajay jadav mandal,india,27.0,NaN,bowling-allrounder,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,chennai-super-kings,2023,2000000
877,nishant sindhu,india,19.0,NaN,batting-allrounder,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,chennai-super-kings,2023,6000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,kamindu mendis,sri lanka,27.0,NaN,batting-allrounder,left-handed-bat,right-arm-offbreak,1,381,19.05,...,8.22,74.0,54.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,7500000
1179,zeeshan ansari,india,26.0,NaN,bowler,right-handed-bat,right-arm-legbreak,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,4000000
1180,sachin baby,india,37.0,NaN,batsman,left-handed-bat,right-arm-offbreak,0,0,0.00,...,0.00,0.0,0.0,2,4.80,4.00,5.00,sunrisers-hyderabad,2025,3000000
1181,aniket verma,india,23.0,NaN,batsman,right-handed-bat,right-arm-medium,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000
1182,atharva taide,india,25.0,NaN,batsman,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000

In [55]:
df['role'].unique()

array(['batsman', 'bowling-allrounder', 'bowler', 'batting-allrounder',
       'wk-batsman'], dtype=object)

In [56]:
allrounder_df = df[df['role'].isin(['bowling-allrounder', 'batting-allrounder'])]
bowler_df = df[df['role'] == 'bowler']
batsman_df = df[df['role'].isin(['batsman', 'wk-batsman'])]
# batting_allrounder_df = df[df['role'] == 'batting-allrounder']
# wk_batsman_df = df[df['role'] == 'wk-batsman']

In [57]:
batsman_df.columns

Index(['name', 'country', 'age', 'height', 'role', 'bat_style', 'bowl_style',
       't20_no', 't20_runs', 't20_avg', 't20_sr', 't20_50', 't20_4s', 't20_6s',
       'ipl_no', 'ipl_runs', 'ipl_avg', 'ipl_sr', 'ipl_50', 'ipl_4s', 'ipl_6s',
       't20_wkts', 't20_bowl_econ', 't20_bowl_avg', 't20_bowl_sr', 'ipl_wkts',
       'ipl_bowl_econ', 'ipl_bowl_avg', 'ipl_bowl_sr', 'team', 'year',
       'price'],
      dtype='object')

In [58]:
batsman_df = batsman_df.drop(columns=[
    'bowl_style', 't20_wkts', 't20_bowl_econ', 't20_bowl_avg', 't20_bowl_sr',
    'ipl_wkts', 'ipl_bowl_econ', 'ipl_bowl_avg', 'ipl_bowl_sr', 'team', 'price', 'age',
    'height'
])

bowler_df = bowler_df.drop(columns=[
    'bat_style', 't20_no', 't20_runs', 't20_sr', 't20_avg', 't20_6s', 't20_4s', 't20_50',
    'ipl_no', 'ipl_runs', 'ipl_sr', 'ipl_avg', 'ipl_6s', 'ipl_4s', 'ipl_50', 'team', 'price', 'age',
    'height'
])

In [59]:
batsman_df

,name,country,role,bat_style,t20_no,t20_runs,t20_avg,t20_sr,t20_50,t20_4s,t20_6s,ipl_no,ipl_runs,ipl_avg,ipl_sr,ipl_50,ipl_4s,ipl_6s,year
873,ajinkya rahane,india,batsman,right-handed-bat,2,375,20.83,113.30,1,32,6,17,4642,30.14,123.43,30,478,103,2023
878,shaik rasheed,india,batsman,right-handed-bat,0,0,0.00,0.00,0,0,0,0,0,0.00,0.00,0,0,0,2023
880,philip salt,england,wk-batsman,right-handed-bat,5,1193,34.09,164.33,5,116,61,2,653,34.37,175.54,6,74,34,2023
882,rilee rossouw,south africa,batsman,left-handed-bat,5,767,34.86,159.80,3,69,39,2,473,23.65,153.58,2,45,25,2023
885,srikar bharat,india,wk-batsman,right-handed-bat,0,0,0.00,0.00,0,0,0,2,199,28.43,122.09,1,12,8,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,ishan kishan,india,wk-batsman,left-handed-bat,1,796,25.68,124.38,6,79,36,6,2644,28.43,135.87,16,255,119,2025
1171,abhinav manohar,india,batsman,right-handed-bat,0,0,0.00,0.00,0,0,0,1,231,16.50,132.76,0,21,10,2025
1180,sachin baby,india,batsman,left-handed-bat,0,0,0.00,0.00,0,0,0,2,144,16.00,122.04,0,11,5,2025
1181,aniket verma,india,batsman,right-handed-bat,0,0,0.00,0.00,0,0,0,0,0,0.00,0.00,0,0,0,2025
1182,atharva taide,india,batsman,left-handed-bat,0,0,0.00,0.00,0,0,0,0,247,27.44,147.03,2,27,8,2025

In [60]:
bowler_df

,name,country,role,bowl_style,t20_wkts,t20_bowl_econ,t20_bowl_avg,t20_bowl_sr,ipl_wkts,ipl_bowl_econ,ipl_bowl_avg,ipl_bowl_sr,year
875,kyle jamieson,new zealand,bowler,right-arm-fast-medium,10,9.29,41.20,26.60,9,9.61,29.89,18.67,2023
881,ishant sharma,india,bowler,right-arm-fast-medium,8,8.63,50.00,34.75,92,8.24,34.48,25.10,2023
883,mukesh kumar,india,bowler,right-arm-fast-medium,20,9.02,24.35,16.20,24,10.44,28.92,16.63,2023
884,shivam mavi,india,bowler,right-arm-fast-medium,7,8.79,17.57,12.00,30,8.71,31.40,21.63,2023
887,mohit sharma,india,bowler,right-arm-fast-medium,6,8.04,30.83,23.00,132,8.67,24.67,17.07,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,simarjeet singh,india,bowler,right-arm-fast-medium,0,0.00,0.00,0.00,9,8.63,28.78,20.00,2025
1175,eshan malinga,sri lanka,bowler,right-arm-fast-medium,0,0.00,0.00,0.00,0,0.00,0.00,0.00,2025
1176,brydon carse,england,bowler,right-arm-fast,15,8.07,15.07,11.20,0,0.00,0.00,0.00,2025
1177,jaydev unadkat,india,bowler,left-arm-fast-medium,14,8.68,21.50,14.86,99,8.98,32.21,21.53,2025
1179,zeeshan ansari,india,bowler,right-arm-legbreak,0,0.00,0.00,0.00,0,0.00,0.00,0.00,2025